<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->

@{
    bool userIsEmpresa = this.User.IsInRole("Empresa");
    bool userIsPostulante = this.User.IsInRole("Empleado");
    bool userIsReclutador = this.User.IsInRole("Reclutador");
}

<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? string.Format("{0} - {1}", ViewBag.Title, "Taller IV") : "Taller IV")</title>

    <meta name="description" content="">
    <meta name="author" content="Nicolas Sabaj, Brian Fraiman, Nicolas Goyano, Gonzalo Bangueses">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link href="~/Content/themes/img/isotipo-60.png" rel="apple-touch-icon" />
    <link rel="icon" href="~/Content/themes/img/isotipo-32.png" type="image/x-icon" />
    <link href="~/Content/themes/img/isotipo-120.png" rel="apple-touch-icon" sizes="120x120" />
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="~/Content/themes/css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="~/Content/themes/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="~/Content/themes/css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="~/Content/themes/css/themes.css">
    <link rel="stylesheet" href="~/Content/themes/css/themes/modern.css">
    <!-- END Stylesheets -->

    <link rel="stylesheet" href="~/Content/themes/css/custom.css">

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/Content/themes/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>

    <!-- Remember to include excanvas for IE8 chart support -->
    <!--[if IE 8]><script src="~/Content/themes/js/helpers/excanvas.min.js"></script><![endif]-->
    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="/Content/themes/js/vendor/jquery-1.11.1.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="~/Content/themes/proui/js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
    <script src="~/Content/themes/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/themes/js/plugins.js"></script>
    <script src="~/Content/themes/js/app.js"></script>
    <script src='~/Content/themes/js/fullcalendar/lang/es.js'></script>
    <script type="text/javascript" src="~/Content/themes/proui/js/datepicker-locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
    <script src="~/Content/themes/js/functions.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    @Styles.Render("~/Content/Selectize/css")
    <link href="~/Content/Selectize/css/selectize.css" rel="stylesheet" />
    <link href="~/Content/Selectize/css/selectize.bootstrap3.css" rel="stylesheet" />

    @RenderSection("head", required: false)
</head>
<!-- In the PHP version you can set the following options from inc/config file -->
<!--
    Available body classes:

    'page-loading'      enables page preloader
-->
<body>
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->
    <!-- Page Container -->
    <!-- In the PHP version you can set the following options from inc/config file -->
    <!--
        Available #page-container classes:

        '' (None)                                       for a full main and alternative sidebar hidden by default (> 991px)

        'sidebar-visible-lg'                            for a full main sidebar visible by default (> 991px)
        'sidebar-partial'                               for a partial main sidebar which opens on mouse hover, hidden by default (> 991px)
        'sidebar-partial sidebar-visible-lg'            for a partial main sidebar which opens on mouse hover, visible by default (> 991px)

        'sidebar-alt-visible-lg'                        for a full alternative sidebar visible by default (> 991px)
        'sidebar-alt-partial'                           for a partial alternative sidebar which opens on mouse hover, hidden by default (> 991px)
        'sidebar-alt-partial sidebar-alt-visible-lg'    for a partial alternative sidebar which opens on mouse hover, visible by default (> 991px)

        'sidebar-partial sidebar-alt-partial'           for both sidebars partial which open on mouse hover, hidden by default (> 991px)

        'sidebar-no-animations'                         add this as extra for disabling sidebar animations on large screens (> 991px) - Better performance with heavy pages!

        'style-alt'                                     for an alternative main style (without it: the default style)
        'footer-fixed'                                  for a fixed footer (without it: a static footer)

        'disable-menu-autoscroll'                       add this to disable the main menu auto scrolling when opening a submenu

        'header-fixed-top'                              has to be added only if the class 'navbar-fixed-top' was added on header.navbar
        'header-fixed-bottom'                           has to be added only if the class 'navbar-fixed-bottom' was added on header.navbar
    -->
    <div id="page-container" class="sidebar-partial header-fixed-top sidebar-visible-lg sidebar-no-animations">

        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Wrapper for scrolling functionality -->
            <div class="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Brand -->
                    @if (userIsPostulante)
                    {
                        <a href="@Url.Action("Index","HomeEmpleado")" class="sidebar-brand">
                            <i class="gi gi-flash"></i>Taller<strong>IV</strong>
                            @*<img src="~/Content/themes/img/logo-dark100.png" />*@
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index","Home")" class="sidebar-brand">
                            <i class="gi gi-flash"></i>Taller<strong> IV</strong>
                        </a>
                    }
                    
                    <!-- END Brand -->
                    <!-- User Info -->
                    <div class="sidebar-section sidebar-user clearfix">
                        <div class="sidebar-user-avatar">
                            @if (userIsEmpresa)
                            {
                                <a href="@Url.Action("Edit","AccountEmpresa")">
                                    <img src="~/Content/themes/proui/img/placeholders/avatars/avatar2.png" alt="avatar" class="img-circle">
                                </a>
                            }
                            else if (userIsPostulante)
                            {
                                <a href="@Url.Action("Edit","Account")">
                                    <img src="~/Content/themes/proui/img/placeholders/avatars/avatar2.png" alt="avatar" class="img-circle">
                                </a>
                            }
                            else if (userIsReclutador)
                            {
                                <a href="@Url.Action("Edit","AccountReclutador")">
                                    <img src="~/Content/themes/proui/img/placeholders/avatars/avatar2.png" alt="avatar" class="img-circle">
                                </a>
                            }

                        </div>
                        <div class="">
                            @Html.Raw(string.Format(User.Identity.Name))
                        </div>
                        <div class="sidebar-user-links">
                            @if (userIsEmpresa)
                            {
                                <a href="@Url.Action("Edit", "AccountEmpresa")" data-toggle="tooltip" data-placement="bottom" title="Mi Perfil"><i class="gi gi-user"></i></a>
                            }
                            else if (userIsPostulante)
                            {
                                <a href="@Url.Action("Edit", "Account")" data-toggle="tooltip" data-placement="bottom" title="Mi Perfil"><i class="gi gi-list"></i></a>
                            }
                            else if (userIsReclutador)
                            {
                                <a href="@Url.Action("Edit", "AccountReclutador")" data-toggle="tooltip" data-placement="bottom" title="Mi Perfil"><i class="gi gi-user"></i></a>

                            }
                            <a href="@Url.Action("LogOff","Account")" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión"><i class="gi gi-exit"></i></a>

                        </div>
                    </div>
                    <!-- END User Info -->
                    <!-- Sidebar Navigation -->
                    
                    <ul class="sidebar-nav">
                        
                        @if (userIsPostulante)
                        {   
                            <li>
                                <a href="@Url.Action("Index","HomeEmpleado")" class="dashboard"><i class="fa fa-briefcase sidebar-nav-icon"></i>Buscar trabajo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit","BusquedaUsuarioPostulantes")" class="dashboard"><i class="gi gi-search sidebar-nav-icon"></i>Administrar búsqueda</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Contactos")" class="dashboard"><i class="gi gi-group sidebar-nav-icon"></i> Mis contactos</a>
                            </li>
                        }
                        @if (userIsReclutador)
                        {
                            <li>
                                <a href="@Url.Action("Index","Home")" class="dashboard"><i class="fa fa-home sidebar-nav-icon"></i> Inicio</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Aviso")" class="dashboard"><i class="gi gi-align_left sidebar-nav-icon"></i> Administrar avisos</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","EncuentrosReclutador")" class="dashboard"><i class="gi gi-group sidebar-nav-icon"></i> Mis encuentros</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Contactos")" class="dashboard"><i class="gi gi-group sidebar-nav-icon"></i> Mis contactos</a>
                            </li>
                        }
                        @if (userIsEmpresa)
                        {
                            <li>
                                <a href="@Url.Action("Index","Home")" class="dashboard"><i class="gi gi-home sidebar-nav-icon"></i>Panel de control</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "UsuariosReclutadores")" class="dashboard"><i class="gi gi-parents sidebar-nav-icon"></i>Reclutadores</a>
                                @*<a href="@Url.Action("Register", "AccountReclutador")" class="dashboard">Reclutadores</a>*@
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Aviso")" class="dashboard"><i class="fa fa-bar-chart-o sidebar-nav-icon"></i>Avisos</a>
                            </li>
                        }
                        @*<li>
                            <a href="@Url.Action("Index","Agenda")" class="dashboard"><i class="gi gi-calendar sidebar-nav-icon"></i>Agenda</a>
                        </li>*@
                    </ul>
                    <!-- END Sidebar Navigation -->

                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Main Sidebar -->
        <!-- Main Container -->
        <div id="main-container">
            <!-- Header -->
            <!-- In the PHP version you can set the following options from inc/config file -->
            <!--
                Available header.navbar classes:

                'navbar-default'            for the default light header
                'navbar-inverse'            for an alternative dark header

                'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                    'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                    'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
            -->
            <header class="navbar navbar-default navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->

                </ul>
                <!-- END Left Header Navigation -->
                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <li>
                        <a href="@Url.Action("LogOff","Account")" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión"><i class="gi gi-exit"></i></a>
                    </li>
                </ul>
                <!-- END Right Header Navigation -->
            </header>
            <!-- END Header -->
            <!-- Page content -->
            <div id="page-content">
                @RenderBody()
            </div>
            <!-- END Page Content -->
            <!-- Footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Desarrollado por <a class="text-info" href="" target="_blank">Nicolas Sabaj, Brian Fraiman, Nicolas Goyano, Gonzalo Bangueses</a>
                </div>
                <div class="pull-left">
                    <span id="year-copy"></span> &copy; <a class="text-info" href="" target="_blank">Taller IV</a>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/selectize")
    <!-- Modal Loading -->
    <div id="modal-loading" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Modal Body -->
                <div class="modal-body text-center">
                    <i class="fa fa-spinner fa-spin"></i> Cargando...
                </div>
                <!-- END Modal Body -->
            </div>
        </div>
    </div>
    <!-- End Modal Loading -->
    <!-- Modal Messages -->
    <div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md alert alert-danger">
            <div class="modal-content">
                <!-- Modal Body -->
                <div class="modal-body">

                </div>
                <!-- END Modal Body -->

                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-success" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md alert alert-success">
            <div class="modal-content">
                <!-- Modal Body -->
                <div class="modal-body">

                </div>
                <!-- END Modal Body -->

                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md alert alert-info">
            <div class="modal-content">

                <!-- Modal Body -->
                <div class="modal-body">

                </div>
                <!-- END Modal Body -->

                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-confirm">Confirmar</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Messages -->

    <script>

        $(function () {

            $('a.change-apartment').click(function () {

                var id = $(this).attr('id-apartment');

                // show loading modal
                showLoading();

                $.ajax({
                        type: 'POST',
                        data: { id: id },
                        url: '@Url.Action("ChangeApartment","Base")',
                    dataType: "json",
                }).done(function (data) {

                    if (data.success) {
                        // refresh page
                        window.location = "@Url.Action("Index","Home")";
                    }
                    else {
                        // show error message
                        hideLoading();
                        showError(data.message);
                    }

                }).fail(function (jqXHR, textStatus) {
                    hideLoading();
                    showError(textStatus);
                });

            });

            function checkMessages()
            {
                // check for new messages periodically

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CountUnreadMessages","MessageCenter")",
                    dataType: 'json',
                    success: function (json) {

                        if (json.success) {

                            $('span.total-inbox-messages').html(json.total);
                            if (json.total > 0)
                                $('span.total-inbox-messages').show();
                            else
                                $('span.total-inbox-messages').hide();

                        }
                    }
                });
            }

            setInterval(function () {

                checkMessages()

            }, 60000);

            checkMessages();
        });


    </script>

</body>
</html>