@model List<TallerIV.Dominio.Aviso>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}



<div class="content-header content-header-media">
    <div class="header-section">
        <div class="row">
            <!-- Main Title (hidden on small devices for the statistics to fit) -->
            <div class="col-md-4 col-lg-6">
                <h1>Bienvenido Pete Dedicate A otra cosa</h1>
            </div>
            <!-- END Main Title -->
            <!-- Top Stats -->
            <div class="col-md-8 col-lg-6">
                @foreach (var item in Model)
                {
                    <text>
                        @item.Titulo 
                        @item.FechaInicio
                        @item.FechaFin 
                        @item.Descripcion
                        @item.AptitudesBuscadas
                        @item.HorasTrabajo
                        @item.TipoRelacionDeTrabajo
                        @item.UsuarioEmpresa_Nombre
                        @item.SueldoOfrecido
                    </text>
                }
            </div>
            <!-- END Top Stats -->
        </div>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
    <img class="animation-pulseSlow" alt="header image" src="~/Content/themes/img/background-dashboard.png">
</div>
