@model List<TallerIV.Dominio.Coincidencia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-briefcase"></i>Búsqueda de trabajo
        </h1>
    </div>
</div>
<div class="row" id="avisos">
    @foreach (var item in Model)
    {
        <div class="col-md-6 aviso" id="@item.Aviso.Id" hidden>
            <!-- Advanced Active Theme Color Widget Alternative -->
            <div class="widget">
                <div class="widget-advanced widget-advanced-alt">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background-dark">
                        <div class="widget-options-left">
                            <button class="btn btn-lg btn-success" data-toggle="tooltip" title="" data-original-title="Aprobar" onclick="LlamarLike('@item.Aviso.Id')"><i class="fa fa-thumbs-o-up"></i></button>
                        </div>
                        <div class="widget-options">
                            <button class="btn btn-lg btn-danger" data-toggle="tooltip" title="" data-original-title="Desaprobar" onclick="LlamarDisLike('@item.Aviso.Id')"><i class="fa fa-thumbs-o-down"></i></button>
                        </div>
                        <a href="page_ready_user_profile.html">
                            <img src="/Content/themes/proui/img/placeholders/avatars/avatar2.png" alt="avatar" class="widget-image img-circle">
                        </a>
                        <h4 class="widget-content-light">
                            <a href="page_ready_user_profile.html">@item.Aviso.UsuarioEmpresa_Nombre</a><br />
                            <a href="page_ready_user_profile.html">@item.Aviso.Titulo</a><br />
                            <a style="font-size:12px;" href="#" onclick="bootbox.alert('@item.Aviso.Descripcion')">Ver descripción</a><br />
                            @*<small><i class="gi gi-pin"></i> New York</small>*@
                        </h4>
                    </div>
                    <!-- END Widget Header -->
                    <!-- Widget Main -->
                    <div class="widget-main">
                        <div class="row text-center">
                            <div class="col-lg-12"><h3 style="margin-top:0px;">Coincidencia @item.Porcentaje%</h3></div>
                            @*<div class="col-lg-6"></div>*@
                        </div>
                        <div class="list-group remove-margin">
                            <div class="list-group-item">
                                <span class="pull-right">
                                    <strong>
                                        @{
                                            var aptitudes = String.Join(", ", item.Aviso.AptitudesBuscadas.Select(x => x.Aptitud.Titulo));
                                            <text>
                                                @aptitudes
                                            </text>
                                        }
                                    </strong>
                                </span>
                                <h4 class="list-group-item-heading remove-margin">Aptitudes</h4>
                                <p class="list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group remove-margin">
                            <div class="list-group-item">
                                <span class="pull-right">
                                    <strong>
                                        @item.Aviso.HorasTrabajo
                                    </strong>
                                </span>
                                <h4 class="list-group-item-heading remove-margin">Horas de trabajo</h4>
                                <p class="list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group remove-margin">
                            <div class="list-group-item">
                                <span class="pull-right">
                                    <strong>
                                        @item.Aviso.TipoRelacionDeTrabajo
                                    </strong>
                                </span>
                                <h4 class="list-group-item-heading remove-margin">Relación de trabajo</h4>
                                <p class="list-group-item-text"></p>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Advanced Active Theme Color Widget Alternative -->
        </div>
    }
    <div class="col-lg-6">
        <div class="col-sm-6 col-lg-6">
            <!-- Widget -->
            <a href="#" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        <strong><span id="avisosAprobados">@ViewBag.Usuario.AvisosAprobados.Count</span></strong>
                        <small>Aprobaciones</small>
                    </h3>
                </div>
            </a>
            <!-- END Widget -->
        </div>
        <div class="col-sm-6 col-lg-6">
            <!-- Widget -->
            <a href="#" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        <strong><span id="avisosDesaprobados">@ViewBag.Usuario.AvisosDesaprobados.Count</span></strong>
                        <small>Desprobaciones</small>
                    </h3>
                </div>
            </a>
            <!-- END Widget -->
        </div>
        <div class="col-sm-6 col-lg-6">
            <!-- Widget -->
            <a href="@Url.Action("Index", "EncuentrosReclutador")" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                        <i class="fa fa-group"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        <strong><span id="encuentros">@ViewBag.CantidadEncuentros</span></strong><br>
                        <small>Encuentros</small>
                    </h3>
                </div>
            </a>
            <!-- END Widget -->
        </div>
        <div class="col-sm-6 col-lg-6">
            <!-- Widget -->
            <a href="#" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                        <i class="gi gi-envelope"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown">
                        <strong>0</strong>
                        <small>Mensajes</small>
                    </h3>
                </div>
            </a>
            <!-- END Widget -->
        </div>
    </div>
</div>



<script>
    function mostrarNuevo() {
        var divAviso = $('.aviso').first();
        divAviso.show();
    }

    function LlamarLike(id)
    {
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '/HomeEmpleado/Like/' + id,
            success: (data) => {
                // your data could be a View or Json or what ever you returned in your action method 
                // parse your data here
                if(!data.error){
                    $("#" + id).fadeOut(600, function () {
                        $(this).remove();
                        if (data.encuentro) {
                            bootbox.alert("Se ha generado un encuentro! Le hemos enviado un aviso al reclutador así el mismo se contacta contigo.");
                            var encuentros = parseInt($('#encuentros').text()) + 1;
                            $('#encuentros').text(encuentros);
                        }
                        var aprobados = parseInt($('#avisosAprobados').text()) + 1;
                        $('#avisosAprobados').text(aprobados);
                        mostrarNuevo();
                    });
                }else{
                    bootbox.alert(data.message);
                }
            },
            error: function(req, status, errorObj) {
                alert('error');
            }
        });
    }
    function LlamarDisLike(id)
    {
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '/HomeEmpleado/DisLike/' + id,
            success: (data) => {
                // your data could be a View or Json or what ever you returned in your action method 
                // parse your data here
                if(!data.error){
                    $("#" + id).fadeOut(600, function () {
                        $(this).remove();
                        var desaprobados = parseInt($('#avisosDesaprobados').text()) + 1;
                        $('#avisosDesaprobados').text(desaprobados);
                        mostrarNuevo();
                    });
                }else{
                    alert(data.message);
                }
            },
            error: function(req, status, errorObj) {
                alert('error');
            }
        });
    }
    $(function () {
        mostrarNuevo();
    });
</script>