@model List<TallerIV.Dominio.Coincidencia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}

<div class="row">
    <div class="header-section">
        <div class="row">
            <!-- Main Title (hidden on small devices for the statistics to fit) -->
            <!--<div class="col-md-4 col-lg-7">
                <h1>Bienvenido </h1>
            </div>-->
            <!-- END Main Title -->
            <!-- Top Stats -->
            <div class="col-md-4 col-lg-8">
                @foreach (var item in Model)
                {
                    <div id="@item.Aviso.Id">
                        Empresa:  @item.Aviso.UsuarioEmpresa_Nombre
                        <br />
                        <br />Titulo:  @item.Aviso.Titulo
                        <br />Fecha inicio:  @item.Aviso.FechaInicio
                        <br />Fecha fin:  @item.Aviso.FechaFin
                        <br />Descripcion:  @item.Aviso.Descripcion

                        @foreach (var aptitud in item.Aviso.AptitudesBuscadas)
                        {
                            if (aptitud.Aptitud != null)
                            {
                                <br />@aptitud.Aptitud.Titulo
                            }
                        }
                        <br />Horas de trabajo:  @item.Aviso.HorasTrabajo
                        <br />Relacion labora:  @item.Aviso.TipoRelacionDeTrabajo
                        <br />Sueldo ofrecido: @item.Aviso.SueldoOfrecido
                        <br />
                        <button onclick="LlamarLike(@item.Aviso.Id)">Like!</button>
                        <button onclick="LlamarDisLike(@item.Aviso.Id)">Dislike</button>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                }
            </div>
            <!-- END Top Stats -->
        </div>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
</div>

<script>
    function LlamarLike(id)
    {
        alert("like!");
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '/HomeEmpleado/Like/' + id,
            success: (data) => {
                // your data could be a View or Json or what ever you returned in your action method 
                // parse your data here
                if(!data.error){
                    alert(data.message);
                    $("#" + id).remove();
                }else{
                    alert(data.message);
                }
            },
            error: function(req, status, errorObj) {
                alert('error');
            }
        });
    }
    function LlamarDisLike(id)
    {
        alert("DisLike");
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '/HomeEmpleado/DisLike/' + id,
            success: (data) => {
                // your data could be a View or Json or what ever you returned in your action method 
                // parse your data here
                if(!data.error){
                    alert(data.message);
                    $("#" + id).remove();
                }else{
                    alert(data.message);
                }
            },
            error: function(req, status, errorObj) {
                alert('error');
            }
        });
    }
</script>