@model TallerIV.Dominio.Aviso

@{
    ViewBag.Title = "Detalle de aviso";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}

<h2>Detalle de aviso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Model.Titulo
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Model.Descripcion
        </dd>

        <dt>
            Fecha de inicio
        </dt>

        <dd>
            @Model.FechaInicio.ToShortDateString()
        </dd>

        <dt>
            Fecha de fin
        </dt>

        <dd>
            @(Model.FechaFin.HasValue ? Model.FechaFin.Value.ToShortDateString() : "")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SueldoOfrecido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SueldoOfrecido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SueldoOfrecidoPrioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SueldoOfrecidoPrioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRelacionDeTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRelacionDeTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRelacionDeTrabajoPrioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRelacionDeTrabajoPrioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasTrabajoPrioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasTrabajoPrioridad)
        </dd>
        <dt>
            Aptitudes necesarias
        </dt>

        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Aptitud</th>
                        <th>Prioridad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aptitud in Model.AptitudesBuscadas) {
                    <tr>
                        <td>@aptitud.Aptitud.Titulo</td>
                        <td>@aptitud.Prioridad</td>
                    </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Volver al listado", "Index")
</p>
