@model TallerIV.Dominio.Aviso

@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}

<div class="content-header">
    <div class="header-section">
        <h1>
            <strong>Estadísticas</strong>
            <i class="fa fa-briefcase"></i>@ViewBag.Aviso.Titulo<br>
        </h1>
    </div>
</div>
<div class="col-lg-6">
    <div class="col-sm-6 col-lg-6">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong><span id="usuariosEmpleadoAprobados">@ViewBag.PorcentajeAp</span></strong>
                    <small>Aprobaciones</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-6">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="fa fa-thumbs-o-down"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong><span id="usuariosEmpleadoDesaprobados">@ViewBag.PorcentajeDes</span></strong>
                    <small>Desprobaciones</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="widget">
        <h2 class="title">Widget title</h2>
        <div class="content">
            <p>Porcentaje de Postulantes que aprobaron el aviso</p>
                <span class="icon-container" style="background-color: #68217A"></span>
                <div class="title">
                    @ViewBag.PorcentajeAp
                    <div class="subtitle">Porcentaje de Postulantes que aprobaron el aviso</div>
                </div>
        </div>
    </div>
    <div class="widget">
        <h2 class="title">Widget title</h2>
        <div class="content">
            <p>Porcentaje de Postulantes que desaprobaron el aviso</p>
            <span class="icon-container" style="background-color: #68217A"></span>
            <div class="title">
                @ViewBag.PorcentajeDes
                <div class="subtitle">Porcentaje de Postulantes que desaprobaron el aviso</div>
            </div>
        </div>
    </div>
</div>