@model TallerIV.Models.EstadisticaViewModel

@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}
<div class="content-header">
    <div class="header-section">
        <h1>
            <strong>Estadísticas: </strong>
            <i class="fa fa-charts"></i>@Model.TituloAviso<br>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-extra themed-background-dark-default text-center">
                <h3 class="widget-content-light"><i class="fa fa-eye animation-floating"></i><small> Por parte del Reclutador </small></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <a href="#" class="widget widget-hover-effect1">
                            <div class="widget-simple">
                                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <h3 class="widget-content text-right animation-pullDown">
                                    <strong><span id="ReclutadorAprobados">@Model.PorcentajeApRec %</span></strong>
                                    <small>Aprobaciones</small>
                                </h3>
                            </div>
                        </a>
                        <!-- END Widget -->
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <!-- Widget -->
                        <a href="#" class="widget widget-hover-effect1">
                            <div class="widget-simple">
                                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </div>
                                <h3 class="widget-content text-right animation-pullDown">
                                    <strong><span id="ReclutadorDesaprobados">@Model.PorcentajeDesRec %</span></strong>
                                    <small>Desaprobaciones</small>
                                </h3>
                            </div>
                        </a>
                        <!-- END Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-extra themed-background-dark-default text-center">
                <h3 class="widget-content-light"><i class="fa fa-eye animation-floating"></i><small> Por parte de los Postulantes</small></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <a href="#" class="widget widget-hover-effect1">
                            <div class="widget-simple">
                                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <h3 class="widget-content text-right animation-pullDown">
                                    <strong><span id="usuariosEmpleadoAprobados">@Model.PorcentajeApPost %</span></strong>
                                    <small>Aprobaciones</small>
                                </h3>
                            </div>
                        </a>
                        <!-- END Widget -->
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <!-- Widget -->
                        <a href="#" class="widget widget-hover-effect1">
                            <div class="widget-simple">
                                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </div>
                                <h3 class="widget-content text-right animation-pullDown">
                                    <strong><span id="usuariosEmpleadoDesaprobados">@Model.PorcentajeDesPost %</span></strong>
                                    <small>Desaprobaciones</small>
                                </h3>
                            </div>
                        </a>
                        <!-- END Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="block-title">

        <h2><strong>  </strong> Chart</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h4 class="sub-header"><i class="fa fa-bar-chart-o"></i> Cantidad de Postulantes segun porcentaje de puntos</h4>
            <div class="row">
                @foreach (var item in Model.RangosEstadistica)
                {
                    <div class="col-sm-3">
                        <div class="pie-chart block-section easyPieChart" data-percent="@item.PorcentajePostulantes" data-size="200" style="width: 200px; height: 200px; line-height: 200px;">
                            <span>@item.Rango % <small>de puntos</small></span>
                            <canvas width="162" height="162" style="width: 130px; height: 130px;"></canvas>
                        </div>
                        <small>Postulantes: @item.Cantidad</small>
                        <br>
                        <br>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		theme: "theme2",
		title:{
            text: "Cantidad de Postulantes segun porcentaje de puntos"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			toolTipContent: "{y} - #percent %" + " del total",
            yValueFormatString: "# Cantidad de Postulantes",
			legendText: "{indexLabel}",
			dataPoints: [
				{  y: @Model.RangosEstadistica[0].Cantidad, indexLabel: "@Model.RangosEstadistica[0].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[1].Cantidad, indexLabel: "@Model.RangosEstadistica[1].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[2].Cantidad, indexLabel: "@Model.RangosEstadistica[2].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[3].Cantidad, indexLabel: "@Model.RangosEstadistica[3].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[4].Cantidad, indexLabel: "@Model.RangosEstadistica[4].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[5].Cantidad, indexLabel: "@Model.RangosEstadistica[5].Rango" + "% de puntos"},
                {  y: @Model.RangosEstadistica[6].Cantidad, indexLabel: "@Model.RangosEstadistica[6].Rango" + "% de puntos" },
				{  y: @Model.RangosEstadistica[7].Cantidad, indexLabel: "@Model.RangosEstadistica[7].Rango" + "% de puntos"},
				{  y: @Model.RangosEstadistica[8].Cantidad, indexLabel: "@Model.RangosEstadistica[8].Rango" + "% de puntos"},
                {  y: @Model.RangosEstadistica[9].Cantidad, indexLabel: "@Model.RangosEstadistica[9].Rango" + "% de puntos" },
				{  y: @Model.RangosEstadistica[10].Cantidad, indexLabel: "@Model.RangosEstadistica[10].Rango" + "% de puntos"},			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer" style="height: 600px; width: 100%;"></div>

