@model IEnumerable<TallerIV.Dominio.Aviso>

@{
    ViewBag.Title = "Listado de avisos";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}

<h2>Listado de avisos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        @*Poner nombre y apelido*@
        <th>
            Reclutador
        </th>
        <th>
            Título
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de fin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.UsuarioReclutador.Nombre + " " + item.UsuarioReclutador.Apellido)
        </td>
        <td>
            @item.Titulo
        </td>
        <td>
            @item.FechaInicio.ToShortDateString()
        </td>
        <td>
            @(item.FechaFin.HasValue ? item.FechaFin.Value.ToShortDateString() : "")
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
