@model IEnumerable<TallerIV.Dominio.UsuarioReclutador>

@{
    ViewBag.Title = "ReasignarAviso";
    Layout = "~/Views/Shared/_LayoutProui.cshtml";
}

<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-align_left"></i>Reasignar Aviso: @ViewBag.Aviso.Titulo
        </h1>
    </div>
</div>
<br>
<h3>Listado de Reclutadores disponibles</h3>
@using (Html.BeginForm("ReasignarAviso", "Aviso", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{ 
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Nombre de Usuario
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="radio" name="Aid" value ="@item.Id" id="radio1"  />
                        <label for="radio1">@item.Nombre</label>
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.UserName
                    </td>
                </tr>
                }
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reasignar" />
        </div>
    </div>
}