@using TallerIV.Models

@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutProuiLogin.cshtml";
}

@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Index", "RegisterAccount")
                </p>

            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<!-- Login Block -->
<div class="block push-bit">
    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @ViewBag.Message
        </div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @ViewBag.ErrorMessage
        </div>

    }
    <!-- Login Form -->
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-bordered form-control-borderless", @id = "form-login" }))
    {
        @Html.AntiForgeryToken()
        if (!ViewData.ModelState.IsValid)
        {
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="alert alert-danger">@Html.ValidationSummary()</div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Contraseña" })
                </div>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-4">
                <label class="switch switch-primary remember-me" data-toggle="tooltip" title="Recordarme">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = true })
                    <span></span>
                </label>
            </div>
            <div class="col-xs-8 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Ingresar</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 text-center">
                <a href="javascript:void(0)" id="link-reminder-login"><small>Olvidaste tu contraseña</small></a>
            </div>
            <div class="col-xs-6 text-center">
                <a href="@Url.Action("Index", "RegisterAccount")" id="link-reminder-login"><small>Quiero registrarme</small></a>
            </div>
        </div>
    }
    <!-- END Login Form -->
    <!-- Reminder Form -->
    @using (Html.BeginForm("GeneratePasswordResetToken", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-bordered form-control-borderless display-none", @id = "form-reminder" }))
    {
        @Html.AntiForgeryToken()
        if (!ViewData.ModelState.IsValid)
        {
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="alert alert-danger">@Html.ValidationSummary()</div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Mail" })
                </div>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Recuperar Contraseña</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <small>Recordar Contraseña?</small> <a href="javascript:void(0)" id="link-reminder"><small>Iniciar Sesión</small></a>
            </div>
        </div>
    }
    <!-- END Reminder Form -->
</div>
<!-- END Login Block -->

<script>

$(document).ready(function () {
    $('label.remember-me').children('input[type=hidden]').insertAfter('label.remember-me');
});

</script>
